.render-container {
  padding-top: 70px;
}
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}
/*li {
  list-style-type: none;
  display: inline;
}

.navbar li a {
  margin-right: 15px;
  display: block;
  width: 60px;
  text-decoration: none;
  display: inline;
}

 .navbar {
  margin-top: 0px;
  background: teal;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float:right;
}*/
